:root {
    --main-bg-color: #0f0f0f;
    --secondary-bg-color: #212121;
    --input-bg-color: #1a1a1a;
    --button-bg-color: #0f0f0f;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('/LocalYT-Rev-Files/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoThin';
    src: url('/LocalYT-Rev-Files/Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kaleko205Round';
    src: url('/LocalYT-Rev-Files/Kaleko 205 Round W01 Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'RobotoRegular', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: #fff;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--main-bg-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 175px;
    height: 20px;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex: 1;
    max-width: 600px;
    margin: 0 auto;
    position: relative; 
}

.top-bar input {
    width: 100%;
    padding: 10px 50px 10px 15px;
    font-size: 16px;
    border: 2px solid #444;
    background-color: var(--input-bg-color);
    color: #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease;
}

.top-bar input:focus {
    border-color: #fff;
    outline: none;
}

.search-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--input-bg-color);
    border: 1px solid #444;
    max-height: 260px;
    overflow-y: auto;
    z-index: 1001;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 80px 20px 20px;
    margin: 0 auto;
    max-width: calc(100% - 40px);
}

.video-thumbnail {
    width: 100%;
    height: 180px;
    display: block;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.video-item {
    margin: 0 10px 5px 10px;
    background: var(--main-bg-color);
    overflow: hidden;
    width: 320px;
    text-align: center;
    transition: transform 0.2s ease;
}

.video-item video {
    width: 100%;
    height: auto;
    display: block;
    border: none;
    pointer-events: none;
}

.video-info {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    text-align: left;
}

.video-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.video-title {
    font-weight: bold;
    font-family: 'RobotoRegular', sans-serif;
    cursor: pointer;
    color: #d2cfcf;
    text-decoration: none;
    transition: text-decoration 0.2s ease;
    font-size: 14px;
}

.channel-name {
    font-size: 12px;
    font-weight: light;
    margin-top: 5px;
    cursor: pointer;
    color: #aaa;
    transition: color 0.3s ease;
}

.channel-name:hover {
    color: #ffffff;
}

.video-description {
    font-family: 'RobotoRegular', sans-serif;
    font-size: 12px;
    color: #888;
    margin-top: 5px;
    padding-left: 48px;
}

.video-player-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 80px 0px 20px;
    background-color: var(--main-bg-color);
    color: #fff;
}

.video-wrapper {
    flex: 0 0 70%;
    padding-right: 0px;
    position: relative;
}

.current-video-title {
    padding: 0px;
    text-align: left;
    font-weight: bold;
    font-family: 'RobotoRegular', sans-serif;
    margin-top: 13px;
    color: #d2cfcf;
    font-size: 16px;
}

.suggestions-wrapper {
    background-color: var(--main-bg-color);
    padding: 0px;
    border-radius: 8px;
    width: 380px;
    flex-shrink: 0; /* Prevent flexbox from resizing this container */
    min-width: 0;
}

.video-suggestions {
    display: flex;
    flex-direction: column;
}

.suggestion-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0px;
}

.suggestion-item img.video-thumbnail {
    width: 135px;
    height: 72px;
    display: block;
    border-radius: 0px;
}

.suggestion-title {
    text-align: left;
    font-weight: regular;
    font-family: 'RobotoRegular', sans-serif;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    transition: text-decoration 0.2s ease;
    font-size: 14px;
}

.search-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px 20px;
}

.search-result-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    width: 70%;
    background: var(--main-bg-color);
    border-radius: 0px;
    overflow: hidden;
    transition: transform 0.2s ease;
}

.search-result-item .video-thumbnail {
    width: 280px;
    height: 160px;
    display: block;
    margin-right: 20px;
}

.search-result-item .video-title {
    flex: 1;
    padding: 10px;
    text-align: left;
    font-weight: normal;
    font-family: 'RobotoRegular', sans-serif;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    transition: text-decoration 0.2s ease;
    font-size: 16px;
    margin-top: -80px;
}

.index-page .video-description {
    margin-left: -50px;
    max-width: calc(100% + 50px);
}

.search-page .video-description {
    margin-left: 0;
    max-width: 100%;
}

.search-result-item .video-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.search-result-item .video-info .video-title {
    margin-bottom: 5px;
}

.current-video-description {
    font-family: 'RobotoRegular', sans-serif;
    font-size: 15px;
    color: #888;
    margin-top: 20px;
}

.suggestion-item .channel-name {
    font-size: 12px;
    color: #888;
    margin-left: 10px;
    cursor: pointer;
}

.channel-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.channel-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.thumbnail-container {
    position: relative;
    display: inline-block;
}

.video-length {
    position: absolute;
    bottom: 4px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 2px 5px;
    font-size: 10px;
}

.like-dislike-container {
    display: flex;
    align-items: center;
    margin-left: 600px;
}

.like-dislike-container img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    filter: invert(57%) sepia(4%) saturate(2%) hue-rotate(176deg) brightness(90%) contrast(88%);
    cursor: pointer;
}

.like-dislike-container span {
    font-family: 'Kaleko205Round', Arial, sans-serif;
    font-size: 14px;
    color: #aaa;
    margin-right: 20px;
}

.share-container img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    filter: invert(57%) sepia(4%) saturate(2%) hue-rotate(176deg) brightness(90%) contrast(88%);
}

.share-container span {
    font-family: 'Kaleko205Round', Arial, sans-serif;
    font-size: 14px;
    color: #aaa;
}

.subscribe-button {
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'RobotoRegular', Arial, sans-serif;
    font-size: 12px;
    color: #888;
    background-color: red;
    border: none;
}

.subscribe-button.subscribed {
    background-color: lightgray;
}

.categories-container {
    width: 200px;
    float: left;
    margin-right: 20px;
}

.category-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    cursor: pointer;
}

.category-item:hover {
    background-color: #f0f0f0;
}

/* --- Search icon --- */
.search-icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 44px;
    object-fit: contain;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

img.search-icon {
    filter: invert(100%);
    -webkit-user-drag: none;
    user-select: none;
}

.search-container:focus-within .search-icon {
    border-color: #fff;
}
/* --- End search icon --- */

/* --- Profile Picture --- */
.header-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.2s ease, box-shadow 0.2s ease;
    flex-shrink: 0;
}

.user-actions {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 50px;
}